#t-59f82bf0-54fe-46a1-9132-2623f0946756 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-59f82bf0-54fe-46a1-9132-2623f0946756 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#t-59f82bf0-54fe-46a1-9132-2623f0946756 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}