#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}