#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Line_6 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Line_6 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 105px;
  -ms-transform: rotate(0.0deg);
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-028bc071-cfc9-494d-8274-7708c68ec544 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}