#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0b9dc992-8635-4bfe-b769-dae00d5274fb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}