#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}