#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_10 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_10 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_12 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_12 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_14 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_14 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_16 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_16 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_17 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_17 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_18 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_18 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_19 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_19 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_20 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_20 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 105px;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_21 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_21 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_22 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_22 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_23 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_23 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_24 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Line_24 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0bd3b1d3-0227-4f93-a31c-4e5ceb06de6c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}