#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Category_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Category_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Category_4-options {
  background-color: #FFFFFF;
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Category_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Category_5-options {
  background-color: #FFFFFF;
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0e890023-31cc-458d-8bed-6dded65a8048 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}