#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-raised_Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1544eee1-2df4-4169-8c29-7e317a57b8ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}