#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Image_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-172780d1-13ae-47ce-87a4-7a914b8b3576 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}