#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=71);
  filter: alpha(opacity=71);
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=71);
  filter: alpha(opacity=71);
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=71);
  filter: alpha(opacity=71);
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 #s-Image_48 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1763e702-fc41-43d3-a9c9-28848b6b1ba4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}