#s-218c258b-8d2c-40df-a878-d7834af637db #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 42px;
  width: 246px;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_10 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_10 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_12 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_12 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_14 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_14 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_16 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_16 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_17 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_17 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_18 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_18 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_19 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_19 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_20 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_20 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_6 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_6 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-218c258b-8d2c-40df-a878-d7834af637db #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-218c258b-8d2c-40df-a878-d7834af637db > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}