#s-5eecf189-0421-4d77-8912-841a3e22f9f6 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Empty_screen {
  position: absolute;
  width: 360px;
  height: 640px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Screen-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Screen-bg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Screen-bg > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Screen-bg > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Screen-bg .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Screen-bg span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Screen-bg span#rtr-s-Screen-bg_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Header-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #3B5ADE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Header-bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Header-bg > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Header-bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Header-bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Header-bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Header-bg span#rtr-s-Header-bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Title > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Title {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Title > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Title > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Title .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Title span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Title span#rtr-s-Title_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Status-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #1E2E76;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Status-bg {
  position: absolute;
  width: 0px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Status-bg > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Status-bg > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Status-bg .valign {
  vertical-align: middle;
  text-align: right;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Status-bg span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Status-bg span#rtr-s-Status-bg_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Time > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Time {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Time > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Time > .paddingLayer {
  height: 20px;
  width: 41px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Time .valign {
  vertical-align: middle;
  text-align: right;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Time span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Time span#rtr-s-Time_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Signal-icon {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Signal-icon > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Signal-icon > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Softkeys-bg > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Square > svg {
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Square > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Circle > svg {
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Circle > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Triangle > svg {
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Triangle > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0px 0px 4px 0px #404040;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_1 {
  position: absolute;
  width: 360px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_1 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_1 > .paddingLayer {
  height: 67px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0px 0px 4px 0px #404040;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_2 {
  position: absolute;
  width: 360px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_2 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_2 > .paddingLayer {
  height: 67px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0px 0px 4px 0px #404040;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_3 {
  position: absolute;
  width: 360px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_3 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_3 > .paddingLayer {
  height: 67px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0px 0px 4px 0px #404040;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_4 {
  position: absolute;
  width: 360px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_4 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_4 > .paddingLayer {
  height: 67px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0px 0px 4px 0px #404040;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_5 {
  position: absolute;
  width: 360px;
  height: 67px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_5 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_5 > .paddingLayer {
  height: 67px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_121 > svg {
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_121 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_121 > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_121 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_122 > svg {
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_122 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_122 > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_122 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_123 > svg {
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_123 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_123 > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_123 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_124 > svg {
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_124 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_124 > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_124 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_125 > svg {
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_125 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_125 > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_125 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_1 {
  position: absolute;
  width: 76px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_1 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_1 > .paddingLayer {
  height: 30px;
  width: 76px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_2 {
  position: absolute;
  width: 76px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_2 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_2 > .paddingLayer {
  height: 30px;
  width: 76px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_3 {
  position: absolute;
  width: 76px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_3 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_3 > .paddingLayer {
  height: 30px;
  width: 76px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_4 {
  position: absolute;
  width: 76px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_4 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_4 > .paddingLayer {
  height: 30px;
  width: 76px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_4 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_5 {
  position: absolute;
  width: 76px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_5 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_5 > .paddingLayer {
  height: 30px;
  width: 76px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_5 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_1 {
  position: absolute;
  width: 68px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_1 > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_1 > svg {
  height: 58px;
  width: 68px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_2 {
  position: absolute;
  width: 59px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_2 > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_2 > svg {
  height: 55px;
  width: 59px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_3 {
  position: absolute;
  width: 56px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_3 > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_3 > svg {
  height: 55px;
  width: 56px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_4 {
  position: absolute;
  width: 56px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_4 > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_4 > svg {
  height: 53px;
  width: 56px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_5 {
  position: absolute;
  width: 59px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_5 > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_5 > svg {
  height: 55px;
  width: 59px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_96 > svg {
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_96 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_96 > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_96 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_9 {
  position: absolute;
  width: 79px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_9 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_9 > .paddingLayer {
  height: 30px;
  width: 79px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_9 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_10 {
  position: absolute;
  width: 79px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_10 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_10 > .paddingLayer {
  height: 30px;
  width: 79px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_10 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_11 {
  position: absolute;
  width: 79px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_11 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_11 > .paddingLayer {
  height: 30px;
  width: 79px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_11 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_12 {
  position: absolute;
  width: 79px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_12 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_12 > .paddingLayer {
  height: 30px;
  width: 79px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_12 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_13 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_13 {
  position: absolute;
  width: 79px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_13 > .clipping, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_13 > .paddingLayer {
  height: 30px;
  width: 79px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_13 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_71 > svg {
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_71 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_71 > img, #s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_71 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}