#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_122 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_123 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_124 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_125 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5eecf189-0421-4d77-8912-841a3e22f9f6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}