#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Image_59 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Softkeys-bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Square_1 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Circle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Triangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Menu {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Panel_7 {
  border-radius: 0px 0px 0px 0px;
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Panel_7 > .valign {
  vertical-align: top;
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-inbox {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Two-line-item_22 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Two-line-item_34 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Two-line-item_24 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Two-line-item_23 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Two-line-item_41 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Two-line-item_42 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-settings {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Two-line-item_44 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-666c8e03-bea9-4e67-9d04-0fb27b92ffdb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}