#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-more-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6d78ecf8-f88e-402c-ae4a-72197da3a884 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}