#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Image_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-79415bca-5aa7-4871-a192-8ee833b523ad > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}