#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Image_59 {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_12 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_12 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_19 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_19 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_20 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_20 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_21 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_21 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_22 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_22 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_23 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_23 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_24 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_24 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_25 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_25 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_26 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_26 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_27 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_27 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_28 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_28 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_29 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_29 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_30 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_30 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 165px;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_10 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_10 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_14 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_14 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_15 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_16 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_16 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_17 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_17 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_18 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 #s-Line_18 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7b314787-ce9d-4dd4-aa5c-284e1c842a25 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}