#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8c89f708-2089-45d4-a3d7-85e5b79532bf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}