#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}