#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_10 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_10 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_12 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_12 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_14 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Line_14 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-93ffb838-ec4b-4512-94cb-fc3fd2793e89 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}