#s-96047e78-791f-473f-bf51-c71a40bf05d3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Empty_screen {
  position: absolute;
  width: 360px;
  height: 640px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Screen-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Screen-bg {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Screen-bg > .clipping, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Screen-bg > .paddingLayer {
  height: 100px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Screen-bg .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Screen-bg span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Screen-bg span#rtr-s-Screen-bg_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Header-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #3B5ADE;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Header-bg {
  position: absolute;
  width: 0px;
  height: 76px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Header-bg > .clipping, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Header-bg > .paddingLayer {
  height: 38px;
  width: 27px;
  padding-top: 38px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Header-bg .valign {
  vertical-align: top;
  text-align: left;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Header-bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Header-bg span#rtr-s-Header-bg_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Title > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Title {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Title > .clipping, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Title > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Title .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Title span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Title span#rtr-s-Title_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Title span#rtr-s-Title_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Status-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #1E2E76;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Status-bg {
  position: absolute;
  width: 0px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Status-bg > .clipping, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Status-bg > .paddingLayer {
  height: 20px;
  width: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Status-bg .valign {
  vertical-align: middle;
  text-align: right;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Status-bg span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Status-bg span#rtr-s-Status-bg_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Time > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Time {
  position: absolute;
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Time > .clipping, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Time > .paddingLayer {
  height: 20px;
  width: 41px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Time .valign {
  vertical-align: middle;
  text-align: right;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Time span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Time span#rtr-s-Time_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Signal-icon {
  position: absolute;
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Signal-icon > img, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Signal-icon > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Softkeys-bg > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Softkeys-bg {
  position: absolute;
  width: 0px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Softkeys-bg > .clipping, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Softkeys-bg > .paddingLayer {
  height: 48px;
  width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Square > svg {
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Square {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Square > img, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Square > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Circle > svg {
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Circle {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Circle > img, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Circle > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Triangle > svg {
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Triangle {
  position: absolute;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Triangle > img, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Triangle > svg {
  height: 15px;
  width: 15px;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_96 > svg {
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_96 {
  position: absolute;
  width: 26px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_96 > img, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_96 > svg {
  height: 27px;
  width: 26px;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_1 {
  position: absolute;
  width: 360px;
  height: 172px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_1 > img, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_1 > svg {
  height: 172px;
  width: 360px;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_2 {
  position: absolute;
  width: 366px;
  height: 172px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_2 > img, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_2 > svg {
  height: 172px;
  width: 366px;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_3 {
  position: absolute;
  width: 360px;
  height: 176px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_3 > img, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_3 > svg {
  height: 176px;
  width: 360px;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_1 {
  position: absolute;
  width: 360px;
  height: 172px;
  opacity: 0.71;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_1 > .clipping, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_1 > .paddingLayer {
  height: 172px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_1 {
  position: absolute;
  width: 149px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_1 > .clipping, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_1 > .paddingLayer {
  height: 30px;
  width: 149px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_45 > svg {
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_45 {
  position: absolute;
  width: 31px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_45 > img, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_45 > svg {
  height: 26px;
  width: 31px;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_71 > svg {
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_71 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_71 > img, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_71 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_2 {
  position: absolute;
  width: 380px;
  height: 172px;
  opacity: 0.71;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_2 > .clipping, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_2 > .paddingLayer {
  height: 172px;
  width: 380px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_2 {
  position: absolute;
  width: 169px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_2 > .clipping, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_2 > .paddingLayer {
  height: 30px;
  width: 169px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_3 {
  position: absolute;
  width: 380px;
  height: 179px;
  opacity: 0.71;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_3 > .clipping, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_3 > .paddingLayer {
  height: 179px;
  width: 380px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_3 {
  position: absolute;
  width: 169px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_3 > .clipping, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_3 > .paddingLayer {
  height: 30px;
  width: 169px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_47 > svg {
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_47 {
  position: absolute;
  width: 31px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_47 > img, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_47 > svg {
  height: 26px;
  width: 31px;
  box-shadow: none;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_48 > svg {
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_48 {
  position: absolute;
  width: 31px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_48 > img, #s-96047e78-791f-473f-bf51-c71a40bf05d3 #s-Image_48 > svg {
  height: 26px;
  width: 31px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-96047e78-791f-473f-bf51-c71a40bf05d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}