#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}