#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9d2fccfd-9097-49eb-9700-0826f7dad010 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}