#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Image_96 {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_5 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_6 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_6 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_9 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_10 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_10 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_13 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_14 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_14 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_11 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_12 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Line_12 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ab560f64-7cc4-4f57-8d90-99cdac897d82 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}