#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Screen-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Header-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Status-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Signal-icon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Image_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Image_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ab8d75f9-6cec-49bf-888b-5812d813b4c8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}