#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Screen-bg {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Header-bg {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Status-bg {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Signal-icon {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b3c922f9-9bfb-456c-aa63-aad26e6140f9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}