<html>
  <body>
    <div class="ui-page" deviceName="androidPhone" deviceType="mobile" deviceWidth="360" deviceHeight="640">
         <div id="t-59f82bf0-54fe-46a1-9132-2623f0946756" class="template growth-both devMobile canvas firer commentable non-processed" alignment="left" name="Template 1 imported" width="360" height="640">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/59f82bf0-54fe-46a1-9132-2623f0946756-1539061756203.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/59f82bf0-54fe-46a1-9132-2623f0946756-1539061756203-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/59f82bf0-54fe-46a1-9132-2623f0946756-1539061756203-ie8.css" /><![endif]-->
           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>